@page "/superheroes"
@inject ISuperHeroService SuperHeroService
@inject NavigationManager NavigationManager
@implements IDisposable 

<h3>Super Heroes</h3>

@if (SuperHeroService.Heroes.Count == 0)
{
    <span>Loading Super Heroes...</span>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Hero Name</th>
                <th>Comic</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in SuperHeroService.Heroes) { 
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.HeroName</td>
                <td>@item.Comic.Name</td>
                <td>
                    <button class="btn btn-primary" @onclick="(() => ShowHero(item.Id))">Show</button>
                </td>
                <td>
                    <button class="btn btn-primary" @onclick="(() => EditHero(item.Id))">Edit</button>
                </td>
                <td>
                    <button class="btn btn-primary" @onclick="(() => DeleteHero(item.Id))">Delete</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
}

<EditSuperHero Hero="heroToEdit"></EditSuperHero>

@code {
    SuperHeroDB.Shared.SuperHero heroToEdit = new SuperHeroDB.Shared.SuperHero();

    protected override async Task OnInitializedAsync()
    {

        await SuperHeroService.GetSuperHeroes();
        SuperHeroService.OnChange += StateHasChanged;

    }

    void ShowHero(int id)
    {
        NavigationManager.NavigateTo($"superhero/{id}");
    }

    void EditHero(int id)
    {
        heroToEdit = SuperHeroService.Heroes.Find(x => x.Id == id);
    }

    void DeleteHero(int id)
    {
        SuperHeroService.DeleteSuperHero(id);
    }

    public void Dispose() {
        SuperHeroService.OnChange -= StateHasChanged;
    }
}
